
.properties:before{
	content: "Properties";
	color: #7A9BE2;
	cursor: pointer;
}
.properties .details{
	display:none;
}

.parameters:before{
	content: "Parameters";
	color: #7A9BE2;
	cursor: pointer;
}
.parameters div{
	color: #f00;
	cursor: pointer;
}
.parameters div .details{
	display:none;
}

.clips:before{
	content: "Clips";
	color: #7A9BE2;
	cursor: pointer;
}
.clips div div:nth-child(1){
	color: #0f0;
	cursor: pointer;
}
.clips div .details{
	display:none;
}

input{
	background-image: linear-gradient(to bottom,#337ab7 0,#265a88 100%);
	border: none;
	border-radius: 3px;
	padding: 5px;
	margin: 5px;
	color: #fff;
}
